/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Right side */
  --rightbackground: #f6f6f6;
}

.font-script {
  font-family: "Pinyon Script", cursive;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* Home */
.custom-pagination span {
  width: 20px;
  height: 3px;
  border-radius: 0 !important;
  background: white;
}

.animate-marquee {
  animation: 50s linear 0s infinite normal none running marquee;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translate(-50%);
  }
  100% {
    transform: translate(0%);
  }
}
.swiper-pagination-bullet-active {
  background-color: black;
}

/*  */
/*  */
/* Right  */
/* Page */
/*  */
/*  */
.mySwiper_Cat_List .swiper-pagination {
  bottom: 0 !important;
}
.swiper-button-disabled {
  display: none !important;
}
.mySwiper_Cat_List .swiper-button-prev,
.mySwiper_Cat_List .swiper-button-next {
  color: black;
  background: #fff;
  border-radius: 100%;
  padding: 12.5px;
  margin-bottom: 10px !important;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 0.5s;
}

.mySwiper_Cat_List:hover .swiper-button-prev,
.mySwiper_Cat_List:hover .swiper-button-next {
  opacity: 1;
}
